<div class="login-box">
    <h1>Information</h1>
    <%= form_for([@event, @event.guests.build]) do |f| %>
      <div class="user-box">
          <%= f.label :fullname %><br>
          <%= f.text_field( :fullname) %><br>
      </div>

      <div class="user-box">
          <%= f.label :email %><br>
          <%= f.text_field( :email)  %><br>
      </div>

      <div class="user-box">
          <%= f.label :phonenumber %><br>
          <%= f.text_field( :phonenumber)  %><br>
      </div>

       <div class="user-box">
          <%= f.submit( :BOOKING) %>
      </div>
    <%end%>
</div>
