<div class="login-box">
    <h1>Information</h1>
    <%= form_for([@event, @event.guests.build], validate:true) do |f| %>
      <div class="user-box">
          <%= f.label t('.fullname') %><br>
          <%= f.text_field( :fullname) %><br>
      </div>

      <div class="user-box">
          <%= f.label t('.email') %><br>
          <%= f.text_field( :email)  %><br>
      </div>

      <div class="user-box">
          <%= f.label t('.phonenumber') %><br>
          <%= f.text_field( :phonenumber)  %><br>
      </div>

       <div class="user-box">
          <%= f.submit( t('.submit')) %>
      </div>
    <%end%>
</div>
