<h1>Resevation</h1>
<%= form_for([@event, @event.guests.build]) do |f| %>
  <p>
      <%= f.label :fullname %><br>
      <%= f.text_field( :fullname, {:class => 'form_control'}) %><br>
  </p>

  <p>
      <%= f.label :email %><br>
      <%= f.text_field( :email, {:class => 'form_control'})  %><br>
  </p>

  <p>
      <%= f.label :phonenumber %><br>
      <%= f.text_field( :phonenumber, {:class => 'form_control'})  %><br>
  </p>

   <p>
      <%= f.submit({:class => 'btn btn-primary'}) %>
   </p>
<%end%>
