<h4>Add Comment</h4>
<%= form_for([@event, @event.comments.build], validate:true) do |f| %>
      <%= f.label t('.username') %>
      <%= f.text_field( :username) %>
      <br>
      <div>
      <%= f.label t('.content') %>
      <%= f.text_field( :content)  %>
      </div>
      <div>
      <%= f.submit( t('.submit')) %>
      </div>
<%end%>
