<div class="login-box">
    <h1>
      <%= t('.title') %>
    </h1>
    <p>
      <%= t('.contact_us') %>
    </p>

    <%= form_tag request_contact_path, method: 'post' do %>
    <div class="user-box">
      <%= label_tag :name, t('.name') %>
      <%= text_field_tag :name, '', title: t('.enter_name') %>
      </div>
      <div class="user-box">
      <%= label_tag :email, t('.email') %>
      <%= email_field_tag :email, '', title: t('.enter_email') %>
      </div>
      <div class="user-box">
      <%= label_tag :telephone, t('.telephone') %>
      <%= telephone_field_tag :telephone, '', title: t('.enter_telephone') %>
      </div>
      <div class="user-box">
      <%= label_tag :message, t('.message') %>
      <%= text_field_tag :message, '', title: t('.enter_message') %>
      </div>
      <div class="user-box">
      <%= submit_tag t('.submit') %>
      </div>
    <% end %>
</div>
