<h1>Edit Event</h1>
<%= form_for :event, url: event_path(@event), method: :patch do |f| %>
    <% if @event.errors.any? %>
        <% @event.errors.full_messages.each do |msg| %>
          <div class="alert alert_danger"><%= msg %></div>
        <% end %>
    <% end %>
  <p>
      <%= f.label :title %><br>
      <%= f.text_field( :title, {:class => 'form_control'}) %><br>
  </p>

  <p>
      <%= f.label :description %><br>
      <%= f.text_field( :description, {:class => 'form_control'})  %><br>
  </p>

   <p>
      <%= f.submit({:class => 'btn btn-primary'}) %>
   </p>
<%end%>
