<div class="login-box">
    <h1> Event</h1>

        <%= form_for :event, url: events_path do |f| %>
            <% if @event.errors.any? %>
                <% @event.errors.full_messages.each do |msg| %>
                  <div class="alert alert_danger"><%= msg %></div>
                <% end %>
            <% end %>
            <div class="user-box">
                <%= f.label :title %>
                <%= f.text_field( :title) %>
            </div>
            <div class="user-box">
                <%= f.label :description %>
                <%= f.text_field( :description)  %>
            </div>
            <div class="user-box">
                <%= f.label :guest_capacity %>
                <%= f.number_field( :guest_capacity, { :min => 1, :max=> 25})  %><br>
            </div>
            <div class="user-box">
              <%= f.submit( :CREATE) %>
            </div>
        <%end%>
</div>
