<!DOCTYPE html>
<html>

  <head>
    <title>Weverso</title>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
        <%= render 'layouts/header' %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
  </body>
</html>
